.hero {
  min-height: calc(100vh - 48px);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: whitesmoke;
  background-color: var(--secondary-blue);
  background-color: var(--primary-blue);
}

.main-text {
  position: relative;
  z-index: 1;
  backface-visibility: hidden;
}

/* .hero::before {
  content: '';
  width: 124px;
  height: 124px;
  position: absolute;
  right: 0;
  bottom: 8px;
  background: url('../../assets/ilust-2.svg') no-repeat center center / cover;
  z-index: 0;
}

.hero::after {
  content: '';
  width: 124px;
  height: 124px;
  position: absolute;
  right: 0;
  bottom: 8px;
  background: url('../../assets/ilust.svg') no-repeat center center / cover;
  z-index: 1;
} */

.main-text h1 {
  font-size: clamp(30px, 8vw, 72px);
  animation-name: moveInLeft;
  animation-duration: 1s;
  animation-timing-function: ease-out;
}

.main-text h2 {
  font-size: 20px;
  font-size: clamp(20px, 5vw, 80px);
  color: rgba(245, 245, 245, 0.7);
  animation: moveInRight 1s ease-out;
}

.btn-cta {
  color: rgba(245, 245, 245, 0.9);
  padding: 16px 32px;
  font-size: 16px;
  border-radius: 3.9px;
  letter-spacing: 1px;
  transition: background-color 0.5s ease-out;
  border: 1px solid var(--green);
  margin-top: 32px;
  animation: moveInTop 500ms ease-out;
}

.btn-cta:hover {
  background-color: var(--green);
  color: white;
}

@keyframes moveInLeft {
  0% {
    opacity: 0;
    transform: translateX(-100px);
  }

  80% {
    transform: translateX(10px);
  }

  100% {
    opacity: 1;
    transform: translate(0);
  }
}

@keyframes moveInRight {
  0% {
    opacity: 0;
    transform: translateX(100px);
  }

  80% {
    transform: translateX(-10px);
  }

  100% {
    opacity: 1;
    transform: translate(0);
  }
}

@keyframes moveInTop {
  0% {
    opacity: 0;
    transform: translateY(50px);
  }

  100% {
    opacity: 1;
    transform: translate(0);
  }
}

@media screen and (min-width: 768px) {
  .main-text {
    padding: 0 16px;
  }

  .main-text::before {
    width: 180px;
    height: 180px;
    top: 24px;
  }
}

@media screen and (min-width: 1024px) {
  .hero {
    justify-content: initial;
    align-items: initial;
  }

  .main-text::before {
    width: 200px;
    height: 200px;
    top: 52px;
  }
}

@media screen and (min-width: 1268px) {
  .hero::before {
    width: 380px;
    height: 380px;
    right: 4%;
    bottom: 4%;
    transition: all 0.5s ease-out;
  }

  .hero:hover::before {
    transform: scale(1.1)
  }

  .hero:hover::after {
    transform: scale(1.1)
  }

  .hero::after {
    width: 376px;
    height: 376px;
    right: 2%;
    bottom: 0;
    transition: all 0.5s ease-out;
  }

  .main-text h2 {
    font-size: 52px;
  }
}
