.about {
  display: flex;
  flex-direction: column;
  background-color: #efefef;
  background-color: whitesmoke;
  color: #4c4c4c;
}

.info p {
  margin-top: 36px;
  line-height: 1.4;
}

.info h3 {
  margin-top: 16px;
}

.img-wrapper {
  margin-top: 36px;
  text-align: center;
}

.img-wrapper img {
  width: 189px;
  margin: 0 auto;
  border-radius: 4px;
}

@media screen and (min-width: 768px) {
  .content {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: space-between;
  }

  .info {
    padding: 0 32px;
  }

  .info p {
    margin: 0 0 36px 0;
  }

  .img-wrapper {
    margin: 0;
  }
}

@media screen and (min-width: 768px) {
  .info {
    flex: 0 0 60%;
  }

  .img-wrapper {
    flex: 0 0 40%;
    margin-right: 32px;
  }
}
