.about {
  display: flex;
  flex-direction: column;
  background-color: #efefef;
  color: #676767;
}

.info h2 {
  position: relative;
  color: var(--primary-blue);
}

.info h2::after {
  content: '';
  position: absolute;
  bottom: -4px;
  left: 0;
  width: 100%;
  height: 2px;
  background-color: var(--primary-blue);
}

.info p{
  margin-top: 36px;
  line-height: 1.4;
}

.info h3 {
  margin-top: 16px;
}

.img-wrapper {
  margin-top: 36px;
  text-align: center;
}

.img-wrapper img {
  width: 189px;
  margin: 0 auto;
  border-radius: 4px;
}
