.header {
  background-color: var(--primary-blue);
  display: flex;
  justify-content: space-between;
  height: 48px;
  padding: 0 16px;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 9;
  width: 100%;
}

.header.scrolling {
  box-shadow: 0 10px 30px -10px rgba(2, 12, 27, .7);
}

.logo-wrapper a {
  padding: 6px 0;
}

.logo-wrapper svg {
  height: 36px;
  width: 36px;
  fill: whitesmoke;
}

.toggle-menu {
  height: 48px;
  padding-left: 10px;
  outline: none;
}

.toggle-menu svg {
  width: 28px;
  height: 28px;
  fill: whitesmoke;
}

.close-menu svg {
  fill: whitesmoke;
}

.menu {
  position: absolute;
  top: 0;
  right: -75%;
  background-color: var(--secondary-blue);
  width: 75%;
  height: 100vh;
  padding: 16px;
  text-align: right;
  z-index: 10;
  visibility: visible;
  transition: right 300ms ease-in-out;
}

.menu.show {
  right: 0;
}

.menu ul {
  height: 70%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.menu li {
  margin: 8px 0;
}

.menu a {
  padding: 12px;
  color: whitesmoke;
  border-bottom: 2px solid transparent;
  transition: color 250ms ease-in-out;
  position: relative;
  font-size: 18px;
}

.menu li:hover a {
  color: var(--green);
}

.menu li:last-child:hover a::after {
  width: 0;
  color: whitesmoke;
}

.menu li:hover a.btn-resume-link {
  font-weight: normal;
  background-color: rgba(46, 204, 113, 0.9);
  color: whitesmoke;
}

.menu li:hover a::after {
  width: calc(100% - 16px);
}

a.btn-resume-link {
  outline: none;
  user-select: none;
  border: none;
  vertical-align: middle;
  background-color: var(--green);
  transition: background-color 250ms ease-in-out;
  border-radius: 3.9px;
  font-size: 17.5px;
  padding: 12px 24px;
}

@media screen and (min-width: 768px) {
  .header {
    padding: 0 5%;
  }

  .menu {
    right: -50%;
    width: 50%;
  }

  .menu ul a {
    font-size: 18px;
  }
}

@media screen and (min-width: 1024px) {
  .header {
    padding: 0 5%;
  }

  .menu {
    position: initial;
    top: 0;
    height: inherit;
    z-index: initial;
    padding: 0;
    background-color: var(--primary-blue);
  }

  .menu ul {
    flex-direction: row;
    height: inherit;
    margin-top: initial;
    justify-content: initial;
    align-items: center;
    animation: moveInBottom 1s ease-out;
  }

  .menu li {
    margin: initial;
    height: inherit;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  .menu li:hover a {
    color: var(--green);
  }

  .menu li:hover::after {
    width: 100%;
  }

  .menu ul a {
    font-size: 14px;
  }

  .toggle-menu {
    display: none;
  }

  .close-menu {
    display: none;
  }

  .menu li:last-child {
    margin-right: 0;
    margin-left: auto;

    flex-direction: row;
    align-items: center;
    justify-content: flex-end;
  }

  .menu li:last-child:hover::after {
    width: 0;
  }

  .menu a::after {
    right: 0;
  }

  .menu li:hover a {
    font-weight: initial;
  }

  a.btn-resume-link {
    padding: 6px 12px;
  }
}

@media screen and (min-width: 1268px) {
  .header {
    height: 64px;
    padding: 0 5%;
  }

  a.btn-resume-link {
    padding: 8px 12px;
  }
}
