.timeline {
  margin-top: 64px;
  height: 760px;
  overflow: scroll;
}

.timeline-item {
  margin: 0 0 36px 0;
  position: relative;
}

.card {
  max-width: 100%;
  width: 100%;
  background-color: var(--secondary-blue);
  background-color: rgba(40, 44, 55, 0.8);
  border-radius: 3px;
  cursor: pointer;
}

.card-header {
  padding: 8px 16px;
  cursor: pointer;
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
  color: var(--green);
}

.card-header p {
  font-size: 14px;
}

.card-header h4 {
  font-size: 22px;
}

.tasks {
  padding: 16px;
  color: white;
  font-size: 14px;
  border-bottom-left-radius: 3px;
  border-bottom-right-radius: 3px;
  z-index: 20;
}

.tasks p {
  line-height: 1.5;
}

.card-header:hover ~ .tasks {
  display: block;
}

@media screen and (min-width: 768px) {
  .timeline-item {
    max-width: 100%;
    display: flex;
    justify-content: flex-end;
    position: relative;
  }

  .timeline-item .animated {
    display: flex;
    justify-content: flex-end;
    width: 100%;
  }

  .timeline-item::before {
    content: '';
    width: 24px;
    height: 24px;
    border-radius: 50%;
    background-color: var(--green);
    position: absolute;
    left: calc((50%) - 13px);
    top: -24px;
    z-index: 1;
  }

  .timeline-item::after {
    content: '';
    width: 6px;
    height: 108%;
    background-color: var(--green);
    position: absolute;
    left: calc((50%) - 4px);
    top: -1px;
    z-index: 3;
  }

  .timeline-item:last-child::after {
    height: 220px;
  }

  .timeline-item:nth-child(2n) .animated {
    justify-content: flex-start;
  }

  .timeline-item .animated .card {
    position: relative;
    max-width: 47%;
    border-radius: 6px;
  }

  .timeline-item .animated .card:hover {
    background-color: rgba(40, 44, 55, 1);
  }

  .timeline-item:nth-child(2n + 1) .animated .card {
    border-top-left-radius: 0;
  }

  .timeline-item:nth-child(2n) .animated .card {
    border-top-right-radius: 0;
  }
}

@media screen and (min-width: 1024px) {
  .timeline-item {
    margin-bottom: 80px;
  }

  .timeline-item .animated .card {
    max-width: 40%;
    padding: 16px 20px;
    line-height: 1.3;
    border-radius: 6px;
  }

  .timeline-item::after {
    height: 128%;
  }

  .timeline-item:nth-child(2n + 1) .card {
    margin-right: 7%;
  }

  .timeline-item:nth-child(2n) .card {
    margin-left: 7%;
  }

  .timeline-item:last-child::after {
    height: 124%;
  }
}

@media screen and (min-width: 1268px) {
  .timeline {
    overflow-x: hidden;
  }

  .timeline::-webkit-scrollbar {
    width: 6px;
  }

  .timeline::-webkit-scrollbar-track {
    background: rgba(255, 255, 255, 0.2);
  }

  .timeline::-webkit-scrollbar-thumb {
    background-color: var(--green);
    border-radius: 50px;
    transition: background-color 600ms ease;
  }

  .timeline-item:nth-child(2n + 1) .card {
    margin-right: 7%;
  }

  .timeline-item:nth-child(2n) .card {
    margin-left: 7%;
  }

  .tasks {
    line-height: 1.5;
  }
}

