.experience {
  background-color: var(--primary-blue);
  color: #fff;
}

.experience .section-title {
  color: #fff;
}

.experience .section-title::after {
  background-color: #fff;
  bottom: -10px;
}

