:root {
  --primary-blue: #1b242f;
  --secondary-blue: #252934;
  --green: #2ecc71;
  --d-green: #2eba71;
}

.about {
  background-color: lightblue;
}

.work {
  background-color: lightslategrey;
}

.contact {
  background-color: lightgray;
}

img {
  max-width: 300px;
}

.blur {
  pointer-events: none;
  user-select: none;
  filter: blur(5px) brightness(.7);
}

main {
  padding-top: 48px;
}

section {
  padding: 32px 24px;
}
