:root {
  --primary-blue: #1b242f;
  --secondary-blue: #252934;
  --green: #2ecc71;
  --d-green: #2eba71;
}

.blur {
  user-select: none;
  filter: blur(5px) brightness(0.7);
}

main {
  padding-top: 48px;
}

section {
  padding: 60px 24px;
  background-color: var(--primary-blue);
}

section:nth-child(2n) {
  background-color: whitesmoke;
}

.section-title {
  font-size: 28px;
}

@media screen and (min-width: 768px) {
  section {
    padding: 80px 32px;
  }

  section .section-title {
    margin-bottom: 64px;
  }
}

@media screen and (min-width: 1024px) {
  section {
    padding: 100px 5%;
  }
}

@media screen and (min-width: 1024px) {
  .section-title {
    font-size: 32px;
  }
}


